:root {
  --content-width: 1300px;
  --primary-color: #222a38;
  --secondary-color: #3c8aff;
  --light-grey: #eaebec;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 24px;
}

.container {
  background: var(--primary-color);
}

/* NAVIGATION */
#nav {
  display: flex;
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  color: #fff;
}

#nav h3 {
  flex: 1;
  font-size: 30px;
}

.links {
  display: flex;
  /* border: 1px solid #000000; */
  justify-content: flex-end;
  align-items: center;
}

.links a {
  margin-left: 30px;
  color: var(--light-grey);
  font-size: 21px;
}

/* HERO */
#hero-section {
  display: flex;
  height: 300px;
  padding: 180px 0;
  background: var(--primary-color);
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 500px;
  flex: 1;
  color: #fff;
}

.content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 24px;
  width: 600px;
  color: var(--light-grey);
}

.content .btn {
  display: inline;
  padding: 12px 45px;
  border-radius: 12px;
  background: var(--secondary-color);
  outline: none;
  box-shadow: none;
  font-size: 22px;
  color: #fff;
}

.banner {
  width: 800px;
  flex: 1;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO */
.white-backdrop {
  background: #fff;
}

#info-list {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 60px 0;
}

#info-list h2 {
  color: #1b253d;
  font-size: 44px;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
  margin: 60px 100px;
}

.info-group {
  width: 220px;
}

.info-img {
  width: 220px;
  height: 220px;
  border: var(--secondary-color) 5px solid;
  border-radius: 14px;
}

.info-group p {
  color: #4b4b4b;
  font-size: 23px;
  margin-top: 15px;
}

/* QUOTE */
.grey-backdrop {
  background: var(--light-grey);
}

#quote {
  width: 1100px;
  margin: auto;
  padding: 150px 0;
  color: var(--primary-color);
}

#quote p {
  margin-left: 80px;
  font-size: 48px;
  font-family: "Segoe UI";
}

#quote h3 {
  float: right;
  font-size: 32px;
}

/* ACTION */
#action {
  padding: 120px 0;
}

.action-box {
  width: var(--content-width);
  margin: auto;
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 65px 0;
  display: flex;
  align-items: center;
}

.action-box .content {
  margin-left: 150px;
}

.action-box p {
  margin: 0;
  color: var(--light-grey);
}

.action-box .btn-style2 {
  border: solid 3px #fff;
  border-radius: 10px;
  color: #fff;
  padding: 8px 42px;
  margin-right: 150px;
  font-size: 22px;
}

/* FOOTER */
footer {
  color: var(--light-grey);
  font-size: 22px;
  text-align: center;
  padding: 50px 0;
}
